[2013-06-04 07:51] jihoonl opened #1 "Make a Map(or map nav) app often crashes..."
While demoing make a map & map nav apps, they were often crashing the apps.. Need an investigation.

[2013-06-13 10:59] stonier opened #2 "Fails to get app lists from remocon"
This happens when the app manager is currently running something.

[2013-06-13 11:00] stonier opened #3 "Duplicate finish requests"
Listener getting duplicate requests for both the listener and robot remocon.

[code]

[2013-06-13 11:01] stonier opened #4 "Listener crashing on closure"
Can't close properly when run in standalone mode.

[2013-06-13 11:02] stonier opened #5 "Stopping android app does not stop robot app"
Nothing getting through to the robot app to force stoppage.

[2013-06-13 11:03] stonier opened #6 "Put RosAppActivity on a diet"
Lots of code that was basically detecting its own instance (ros app or app chooser or app chooser returning from an application) and creating alot of forked pathways in the class itself. Since not much of it is actually shared, we decided to split the classes as it is a _hell_ of alot easier to debug.

Now just have to trim out the fat that we're not using in RosAppActivity.

[2013-06-13 11:35] stonier commented on #2
App manager service problem. Fixed in

https://github.com/robotics-in-concert/rocon_app_platform/commit/7a7294f8578f776afaa573eb8ea53ac12772bcda

[2013-06-13 11:35] #2 closed, assigned to stonier

[2013-06-14 00:24] stonier commented on #3
Was also occuring for standalone Listener.

Apps were calling onDestroy() directly, resulting in two calls to onDestroy() and two calls to stop app on the app manager.

Should never _call_ onDestroy() explicitly. Use finish() instead.

https://github.com/robotics-in-concert/rocon_android/commit/e54e9042c58891ea27aeee08fb5fb77d6138dbb3

[2013-06-14 00:27] stonier opened #7 "Use finish() instead of onDestroy()"
Convert all the apps in this repo to use finish() instead of onDestroy().

Shouldn't call onDestroy() directly - all the apps in this repo are. This results in multiple calls to onDestroy() and subsequently multiple stop app calls. Refer to #3.

[2013-06-14 00:29] stonier commented on #4
This is now working fine after fixing #3.

[2013-06-14 00:40] stonier commented on #4
Crash occuring if still at the master chooser stage.

[2013-06-14 00:46] stonier commented on #5
Odd info message:

[code]

[2013-06-14 08:55] stonier opened #8 "Modularise RosAppActivity and RemoconActivity"
Alot of startup logic that redirects the flow depending on whether its an app or remocon - ultimately making the rosappactivity difficult to work with. Not much of it is correlated, so probably better to split the two.

[2013-06-15 10:50] #4 closed, assigned to stonier

[2013-06-15 12:39] stonier commented on #3
Still there.

[2013-06-15 12:39] stonier commented on #3
Caused by RosActivity itself - threw in a check to see if it is finishing.

https://github.com/ros-java/android_core/commit/ba9c15d33336ba79abfb077d0ff83ed1134f3c80

[2013-06-15 12:39] #3 closed, assigned to stonier

[2013-06-16 05:59] stonier opened #9 "Is onAppTerminate() getting used?"
Doesn't seem to get used anywhere, but its an important element.

[2013-06-16 10:56] stonier commented on #8
Done - moved to RobotActivity now managed in android_remocons. We can start removing the logic in RosAppActivity now.

[2013-06-16 10:56] #8 closed, assigned to stonier

[2013-06-16 11:00] stonier commented on #6
Class has been successfully migrated to android_remocons: https://github.com/ros-java/android_remocons/commit/89b8fc4372ecc8570d5b3dec22dfc9b8cc8afd35

[2013-06-16 11:00] stonier commented on #6
Accidentally closed.

[2013-06-16 11:03] stonier commented on #5
Resolved by a few things. We removed responsibility of stopping the paired app from the app itself (leave robot choosing and app management to the remocon). This got primarily fixed by improving the remocon so that it continually watched the app status (via the list_apps publisher) so that it didn't rely on appropriately timed service calls or app handling.

https://github.com/ros-java/android_rem

[2013-06-16 11:03] #5 closed, assigned to stonier

[2013-06-16 11:17] stonier opened #10 "App MasterChooser with zeroconf"
Similar to robot_remocon's robot master chooser.

[2013-06-16 12:16] stonier opened #11 "Dashboard agnosticity"
Need a new idea for the dashboard so folks don't have to 'magically' download the dashboard they need.

Off the top:
- An install step just like the app install step to get the right dashboard corresponding to the robot.
- OR completely generalise the dashboards with compatible protocols.

Probably implement the latter with an option for the former if a robot implements a custom dashboard. What we

[2013-06-16 12:21] stonier opened #12 "Platform info service in AppManager"
Add this to the app manager so we can start retrieving icons and remove the redundant parameter requirements.

[2013-06-16 12:22] stonier opened #13 "Package string from managing applications"
Implement the full package string in the intent from a managing application of a RosAppActivity application.

This lets us hand back control without having to hardcode it to a single particular activity (I think).

[2013-06-16 12:36] stonier commented on #11
Currently I've just got it using turtlebot dashboard stashed away in the application management library.

[2013-06-16 12:39] #6 closed, assigned to stonier

[2013-06-19 07:42] stonier commented on #12
Quite a few commits went in to this, so can't track them here.

The core problem was calling platform info from the master chooser activity (not a rosactivity). You can do that rather simply though just constructing the nodemainexecutor and nodeconfiguration with defaults and running the calls as per normal.

I split this into its own class (outside of the app manager class). Much easier to follow

[2013-06-19 07:42] #12 closed, assigned to stonier

[2013-06-19 08:24] stonier commented on #12
Also removed all parameter usage in the robot remocon and also in the paired master script.

[2013-06-19 09:01] stonier commented on #13
On the remocon side, AppLauncher.java and on the app side, RosAppActivity.java.

[2013-06-19 09:17] stonier commented on #13
Also updated in android_remocons:

https://github.com/ros-java/android_remocons/commit/49579778cb0a001d96486987017f7800a03c7489

[2013-06-19 09:17] #13 closed, assigned to stonier

[2013-06-19 16:11] stonier opened #14 "MasterChecker check rapp manager availability"
The new robot app manager is aware and controls access to remote controllers and has both Invite and Status services to reflect that.

The master checker should check the status handle and:
- highlight the image in some way if it is busy.
- block entering to the list apps activity if it is busy (toast message?).

[2013-06-19 16:13] stonier commented on #14
44fa4f6117c02326fea14cec8e8a81949764c4c4 - look for status in the master checker.
https://github.com/ros-java/android_remocons/commit/8bd8675e9c137c00791f492cf99cba2cad49b73c - modify image.

[2013-06-19 16:26] stonier commented on #14
https://github.com/ros-java/android_remocons/commit/275028e15d18c39e451ca6d11d88c495445f6e46 - block access if the master is busy.

[2013-06-20 13:05] stonier commented on #14
https://github.com/ros-java/android_remocons/commit/1ae07b2c567727796b4ed768b117f50542053495 - abort checker when entering the robot if it is busy.

[2013-06-20 13:05] #14 closed, assigned to stonier

[2013-06-21 02:08] stonier opened #16 "Direct apps broken after invitation handling update"
Need to check this - I was setting the paired system up with an auto-invite earlier. Now that's not there, the direct application connections wont find start_app and stop_app.

[2013-06-21 02:09] stonier opened #17 "Second run of app inside remocon crashes"

[2013-06-21 02:10] stonier commented on #17
Duplicate of https://github.com/ros-java/android_remocons/issues/20

[2013-06-21 02:10] #17 closed, assigned to stonier

[2013-06-25 16:49] stonier commented on #11
f534f46ebd7bc70bac9b9478741a937a03e4be8b - default dashboard to avoid ugly dependencies on messages for now.

[2013-07-08 13:32] stonier commented on #16
Standalone app manager doesn't nest the application namespace underneath the node (it does in paired and concert modes when it has a uuid based prefix). Thus android doesn't find it where it expects to find it.

[2013-07-08 13:53] stonier commented on #16
https://github.com/robotics-in-concert/rocon_app_platform/commit/e89bb6d05a041513f1aa39979696dacf6f6478b7

Nothing wrong here in android world - just need standalone mode to match remote control modes.

[2013-07-08 13:53] #16 closed, assigned to stonier

[2013-07-24 05:04] bit-pirate opened #18 "re-release android apps"
TODO:
- [x] listener
- [x] make_a_map
- [x] map_manager
- [x] map_nav
- [x] teleop

[2013-07-24 07:33] bit-pirate opened #19 "adjust app names"
We have to correct the apps naming.

[2013-07-24 08:26] bit-pirate commented on #19
@stonier what was wrong with the names exactly?

The only divergence I have spotted so far is that the _android_ should be truncated from the app names, e.g. teleop, instead of _android__teleop.

The rest of the package name looks good, i.e. com.github.ros_java.android_apps.APPNAME.

[2013-07-24 08:27] bit-pirate commented on #18
Re-release once renaming is done: https://github.com/ros-java/android_apps/issues/19

[2013-07-24 08:50] bit-pirate opened #20 "make_a_map depends on map_store messages and services"
How do we get those message into rosjava/android (@stonier any idea)?

Btw, map_store has been catkinized recently: https://github.com/ros-planning/map_store

[2013-07-24 09:11] bit-pirate commented on #20
Solved it! I'm such a rosjava guru!

[2013-07-24 09:11] bit-pirate commented on #20
NOT! :-D

[2013-07-24 09:11] #20 closed, assigned to nobody

[2013-07-25 03:34] stonier commented on #19
That's cool - didn't know you could set tasks in github.

The names problem - probably just a dan memory bug :P

[2013-07-25 03:35] stonier commented on #20
rosjava_messages is a right pain in the ass!

[2013-07-25 03:48] bit-pirate commented on #20
Well, once I knww rosjava_messages creates messages for you automatically, then I found it quite cool!

[2013-07-25 03:53] stonier commented on #20
Have to recompile everything from the ground up though - that's a royal nuisance.

[2013-08-06 06:03] bit-pirate opened #21 "MapView fails to show map"
It only shows a black picture with occasional orange artefacts.

[2013-08-06 06:06] #19 closed, assigned to nobody

[2013-08-06 06:33] bit-pirate opened #22 "How to manage multiple app versions?"
These Android apps here have been around for a while now and we got to a point where we need to start thinking about how to handle different versions of the same app in order to support multiple versions of ROS.

Currently we use Google Play and unfortunately it doesn't allow publishing of multiple versions of the same app (i.e. package name), unless it has to do with hardware requirements (It off

[2013-08-06 06:37] bit-pirate commented on #18
If we can, we should also decide on how to publish these apps: https://github.com/ros-java/android_apps/issues/22

[2013-08-07 05:02] stonier commented on #22
I think just giving them a numbered version in the name might work better than fixing them to a distro, e.g. "MapManager 2".

**Pro**: we don't have to rebuild them every distro if nothing has changed.

**Con**: the name of the app isn't as meaningful, but users don't install the apps directly so often anyway, usually its via the remocon.

[2013-08-14 01:21] bit-pirate opened #23 "Move rapp launching info from android app to app manager for direct connections"
For direct connections the app manager currently uses the default app hardcoded into the android app (e.g. https://github.com/ros-java/android_apps/blob/hydro-devel/teleop/src/main/res/values/strings.xml).

This information is not used when using the robot remocon. If at some points it turns out that direct connections are essential, we should find a way to configure default rapps for android apps

[2013-08-14 01:30] stonier commented on #23
Some other tidbits from the conversation:

Having all pairing mode information (for direct and for robot remocon connections) in the rapp manager is more convenient than having it in both remocon and android app. I can't think of any real negatives for doing this.

Having said that, as marcus said, we currently only use direct connections for development and debugging. That makes this string infor

[2013-08-29 05:14] stonier commented on #1
Haven't been able to reproduce - need more detail than this so it can be reproduced, so reopen if we do so.

[2013-08-29 05:14] #1 closed, assigned to nobody

[2013-09-01 15:48] stonier opened #25 "Map nav requires update for tf2 updates"
[code]

Relevant update in rosjava_core: https://github.com/rosjava/rosjava_core/commit/3e1bafa4dcac3fc49b4bfa288e4b747c8b6581c8

[2013-09-01 15:51] stonier opened #26 "Package names ros_java -> rosjava"
Fixed in classes, but directories need to be moved too.

[2013-09-02 10:00] stonier commented on #25
5783238fda5fdf53220758e045e2f2df1160ea4a

[2013-09-02 10:00] #25 closed, assigned to stonier

[2013-09-02 10:01] stonier commented on #26
9ed77cbd96d1a135cbc025db465d8db2d43a7bdc (rebased)

[2013-09-02 10:01] #26 closed, assigned to stonier

[2013-09-26 07:53] #18 closed, assigned to nobody

[2013-09-26 07:53] #21 closed, assigned to stonier

[2013-09-26 07:54] corot commented on #11
I think this is ok now....

[2013-09-26 08:03] corot commented on #22
Well, by now we append the ROS distro in brackets at the end of the app name. The package name is not a problem between groovy and hydro because all paths have changed to include repo home (not clean at all... this solves the problem just by chance!).

As Indigo is far in the future, this is a not very bad solution by now. Let's postpone the definitive politics for Indigo. We will probably drop gr

[2013-09-26 08:49] stonier commented on #11
Leave this one open - if someone gets time to work on it, that would still be great.

[2013-09-26 08:50] stonier commented on #21
This was due to breakages in the way tf2 handled frame names. This was fixed in https://github.com/rosjava/rosjava_core/pull/167

[2013-10-13 14:50] stonier opened #27 "Github Releases"
Bill pointed this out when talking about making sure we store released android app binaries.

https://github.com/blog/1547-release-your-software

Let's look into it for any releases of future versions.

[2013-10-14 13:23] corot opened #28 "Map navigation crashes when it reads a big map"
For example, Willow maps.

OccupancyGridLayer, lines 104 and 105 it check for a maximum size of 1024x1024 with Preconditions.checkArgument, what throws an exception if the map is bigger.

Provide instead a polite message and ask to choose another map. Also, the hardcoded 1024 should be a parameter.

[2013-11-24 11:23] stonier opened #30 "Rebase master off stable hydro dependencies"
Master is a moving target that we can't commit development time to keep up with as we don't have anyone continuously working on the android code.

To avoid confusion, base our development branch off the core hydro branches and update to igloo when the cores have stable igloo branches as well.
- Delete master branch
- Create hydro-devel branch.

[2013-11-25 01:16] stonier opened #31 "Pairing and concert app compatibility"
@corot - this is the discussion thread we need to have about making this happen.

[2013-11-25 09:57] stonier commented on #31
Jorge is merging standalone paired, remocon paired and concert app types into one. The primary diffferences include:
- remocon paired uses an application namespace, wheras concert doesn't.
  - We previously needed that for doing remappings, but we can now do them individually, maybe remove in future.

[2013-11-26 05:53] stonier commented on #30
Still basing off hydro, but kept the format of master to be consistent with other rosjava repos and just updated rosinstalls and readme's appropriately.
- [Readme](https://github.com/rosjava/android_apps/blob/readme/README.md)
- [Master Rosinstaller](https://raw.github.com/rosjava/rosjava/master/android_apps.rosinstall)

[2013-11-26 05:59] #30 closed, assigned to stonier

[2013-11-28 02:56] corot commented on #31
Considered done. Not fully tested, however, as only two apps are concertified by now.

[2013-11-28 02:56] #31 closed, assigned to stonier

[2013-11-28 02:59] corot opened #32 "Dashboard not working on concerted robots."
Android apps cannot read diagnostics messages from concerts. This a known behavior, and cannot be fixed by now until reviewing concert working. So I label this as enhancement instead of bug

[2013-11-28 06:26] bit-pirate commented on #32
Please assign someone and a milestone.

[2013-11-28 08:37] corot commented on #32
mmm....  it's a complex thing that implies changes in concerts, so I cannot assign.

[2013-11-28 13:07] stonier commented on #32
Dashboard is annoying because we don't have a proper plugin framework for them. Set milestone to ToDo if you don't know when.

[2013-12-29 07:26] stonier commented on #9
Closing this - I can't recall the relevant detail to work on it.

[2013-12-29 07:26] #9 closed, assigned to stonier

[2013-12-29 07:27] stonier opened #34 "Direct connections failing"
Cannot start listener directly with an app manager in pairing mode or standalone mode.

This is a probably by-product of the recent standalone-paired-concert overhaul by Jorge.

[2013-12-29 07:28] stonier commented on #34
Crashing at:

https://github.com/rosjava/android_apps/blob/master/application_management/src/main/java/com/github/rosjava/android_apps/application_management/RosAppActivity.java#L262

[2013-12-29 11:44] stonier commented on #34
Fix direct connections to standalone app managers: 19a3a6b7c0a749d8528cd7dc87732806c2fa8ee2

[2013-12-29 13:56] stonier commented on #34
fa4defbe4002e02487bc53d0c028cea701b75708

This fix catches exceptions properly and inform the user of the problem before gracefully aborting when trying to connect to a paired master (this doesn't work in direct because there is no invite process to make the start_app handle available to the android app).

[2013-12-29 13:56] #34 closed, assigned to stonier

[2013-12-29 15:32] stonier opened #35 "Can master uri's be hardcoded?"

[2013-12-29 15:55] stonier commented on #35
Not as is. Shouldn't be hard to modify RosActivity:
- Construct with an optional variable for the URI
- Check this variable in startMasterChooser and if set:
  - call `nodeMainExecutorService.setMasterURI(...)` and run `init()` as done in the activity result method.

[2014-01-02 06:53] stonier commented on #35
Do the above in our `RosAppActivity`. It overrides the startMasterChooser class and that is the best place to do this.

[2014-03-27 22:47] aminasfour opened #36 "Recent problem with android_apps"
All of the sudden I've started getting this error, when trying to compile/build android_apps:
- What went wrong:
  A problem occurred evaluating project ':application_management'.

[2014-04-12 17:30] davidnunez commented on #36
This seemed to fix it for me:

In `/gradle/wrapper/gradle-wrapper.properties` change:

[code]

to

[code]

[2014-04-12 17:36] davidnunez commented on #36
This commit seems to fix this issue: rosjava@2b24f586cafde0986c7597b6d5f4f322f6625e43

[2014-04-13 04:25] stonier commented on #36
I recommend setting the gradle version you want in your `build.gradle` file and running the task `./gradlew wrapper` will update to the gradle you want to use without having to touch files manually. That will ensure it will update the proper files (sometimes it needs to update scripts as well as that properties file).

[2014-06-22 11:57] #36 closed, assigned to stonier

[2014-06-22 11:59] stonier commented on #23
The interactions manager update moves all of this to the pc. No problem anymore.

[2014-06-22 11:59] #23 closed, assigned to stonier

[2014-08-04 04:40] syazfraser opened #38 "Teleop Code Structure"
Hi guys.

I'm working on the code structure of the teleop of turtlebot (hydro).

Is there anyway possible to find out what code is being sent out when i shift the joystick up, down, left, etc?

I understand that the joystick it self is being imported from:

import org.ros.android.view.VirtualJoystickView;

From the best of my knowledge, I can't really figure out which part of the whole source code

[2014-08-05 01:38] syazfraser commented on #38
http://docs.ros.org/hydro/api/android_core/html/classorg_1_1ros_1_1android_1_1view_1_1VirtualJoystickView.html

http://docs.ros.org/hydro/api/android_core/html/VirtualJoystickView_8java_source.html

[2014-08-05 01:38] #38 closed, assigned to nobody

[2014-11-24 09:41] jihoonl opened #39 "replace map_store msgs to world_canvas_msgs"
As we drop the map_store and replace with world canvas database

[2014-11-24 09:41] jihoonl commented on #39
https://github.com/turtlebot/turtlebot/issues/170

[2015-01-26 18:59] talregev opened #40 "map_nav not compile"
android_apps/map_nav/src/main/java/com.github.rosjava.android_apps.map_nav/MapPosePublisherLayer.java:10: error: package move_base_msgs does not exist
import move_base_msgs.MoveBaseActionGoal;

It doesn't recognize  move_base_msgs, even i has at repository folder with jars: org/ros/rosjava_messges/move_base_msgs
and at build.gradle of map_nav i have this line:
compile 'org.ros.rosjava_messages:mov

[2015-02-21 16:43] stonier commented on #40
Upgraded and fixed this for indigo versions. Working now, but map_nav has a different problem due to an upgrade in the map view/camera view changes damon made a while ago. Need to fix that.

[2015-02-21 16:43] #40 closed

[2015-02-21 16:48] talregev commented on #40
Already solve that issue. Don't remeber how.

[2015-02-23 06:54] stonier opened #42 "indigo camera update required"
Most of the apps utilised the old Camera class which got updated for indigo. This stops `map_nav`, `make_a_map`, `map_manager` from compiling.

The relevant update went in https://github.com/rosjava/android_core/commit/48b4a8197b06c087e43927660c82a4771545f4e0.

[2015-02-23 13:30] stonier commented on #42
Disabled temporarily the map manager `addLayer`, `hideLayer` since that api got deprecated and there is no replacements for them. Fix when we test them. The api changes are in https://github.com/rosjava/android_core/commit/55054322e627d0c1d8950d315320abbc624deff3

[2015-03-20 08:51] dwlee opened #43 "What is purpose of using NtpTimeProvider?"
I updated android apps because of upgrading android core into indigo. I found some strange code(following part). It led periodic socket error, however, its error did not make a trouble, so I commented this part because it annoyed me.  I was wondering purpose of following part.

[code]

[2015-03-20 14:06] pohetsn opened #44 "ROS teleop app to control custom robots?"
Hi, I'm wondering whether ROS teleop can be used to control custom robots, instead of just the turtlebot?   Because when I ran the app, I got the following error message:

    03-20 09:11:42.048: E/AndroidRuntime(20661): Process: com.github.rosjava.android_apps.teleop, PID: 20661
    03-20 09:11:42.048: E/AndroidRuntime(20661): org.ros.exception.RosRuntimeException: org.ros.exception.ServiceNotFou

[2015-03-20 14:44] stonier commented on #44
You are using hydro versions right?

[2015-03-20 16:20] pohetsn commented on #44
The app is hydro, but the ros master is running indigo. Maybe that's the
reason? However, even though the version is different, is it required to have turtlebot service?

On Fri, Mar 20, 2015, 10:44 AM Daniel Stonier notifications@github.com
wrote:

[2015-03-24 01:11] stonier commented on #44
Indigo went through some upgrades and has moved as much of the android app-robot interaction machinery to the robot side. The android apps and (important for you) their remaps can be configured by setting a yaml for the interactions node on the robot side. So yes, indigo should be able to do what you wish.

I have a colleague looking at fixing one last problem with the visualisation view, once he'

[2015-03-24 01:17] pohetsn commented on #44
Appreciated!

On Mon, Mar 23, 2015, 9:11 PM Daniel Stonier notifications@github.com
wrote:

[2015-03-30 15:30] adolescent opened #45 "App crashes on start"
I am connected via wifi with the turtlebot. Enter the robot URI in the app and click connect. And the app crashes.. Anything? turtlebot is running hydro

Thanks

[2015-04-15 08:02] mistoll opened #46 "Illegal call to VisualizationView.onCreate"
In map_nav's MainActivity (and propably in the other apps, too) the call to VisualizationView.onCreate is made in the Activity's init method and not in onCreate, as demanded by the documentation of VisualizationView. Furthermore VisualizationView.init isn't called at all.

This might work under some circumstances, but when running the current head of the indigo branch on an Android 4.0 device, the

[2015-04-19 07:08] stonier commented on #46
@dwlee is in the middle of fixing this. Was a result of some changes in master from hydro to indigo. I'll link back to this when we get the pull request in. Thanks for the notification!

[2015-04-20 00:29] stonier commented on #46
Android core change made in https://github.com/rosjava/android_core/pull/237

Update to these map related android apps coming shortly.

[2015-04-21 01:06] dwlee opened #47 "Change visualization way of robot pose in make_a_map and map_nav"
Currently, ```Make A Map``` app and ```Map Nav``` app  show the robot pose via getting robot frame from tf message. This way is able to be useful in single robot environment. However, Using tf message is impossible in multi-robot environment like concert because tf message can not be sharable.
To more detail, when android app tries to show pose of specific robot among multi-robot using tf message,

[2015-04-22 01:47] stonier commented on #46
Android apps updated for the core api revert in https://github.com/rosjava/android_apps/pull/48

[2015-04-22 01:48] stonier commented on #46
Please test and hopefully enjoy! :neckbeard:

[2015-04-22 01:48] #46 closed

[2015-04-22 08:07] dwlee commented on #46
I finished test and you can enjoy!

[2015-04-22 09:11] stonier commented on #46
Awesome.

[2015-07-08 17:16] Annyv2 opened #50 "Timeout on image_transport tutorial"
Hello!

I'm trying to test the android_tutorial_image_transport to receive video on my android. I've set up ROS_IP accordingly and I'm able to connect to the master but no video is received and I get the following error:

E/UpdatePublisherRunnable﹕ org.ros.internal.node.xmlrpc.XmlRpcTimeoutException: org.apache.xmlrpc.client.TimingOutCallback$TimeoutException: No response after waiting for 10000 m

[2015-11-03 06:52] wennycooper opened #51 "Build map_nav got errors"
I got following errors in building map_nav module in Android Studio.

[code]

I post the same problem in ros answer as well. Plz help!! Thanks!!

http://answers.ros.org/question/220324/building-android_apps-errors-on-android-studio/

[2015-11-12 05:34] samiHajjaj commented on #51
referring to this ... https://github.com/rosjava/android_apps/issues/42    (second last point)

change the above code to this ..

mapView.onCreate(Lists.<Layer>newArrayList(
                viewControlLayer,
                occupancyGridLayer,
                laserScanLayer,
                pathLayer,
                mapPosePublisherLayer,
                initialPoseSubscriberLayer
        ));

sh

[2015-11-13 01:30] wennycooper commented on #51
Thank you!!

[2015-11-15 15:35] AmitMoran commented on #45
I have the same issue. With one laptop it works fine, with another one it crashes...
Did you find a solution?

[2016-05-17 08:53] Myzhar opened #52 "teleop: add a way to manage Virtual Joystick ranges"
It would be very useful if the ranges of the topic "cmd_vel" should be customizable.

As far as I know, the virtual joypad emits normalized values for X and Y axis in the range [-1,+1]
It's ok for robots that have maximum forward speed of 1.0 m/sec and maximum rotation speed of 1 rad/sec, but there exists robots faster and robots slower.

What I'm suggesting is to add 2 text fields (or 2 sliders)

[2016-06-28 07:43] tony1213 commented on #51
Change this code:
      mapView.addLayer(viewControlLayer);
      mapView.addLayer(occupancyGridLayer);
      mapView.addLayer(laserScanLayer);
      mapView.addLayer(pathLayer);
      mapView.addLayer(mapPosePublisherLayer);
      mapView.addLayer(initialPoseSubscriberLayer);
To:
        mapView.onCreate(Lists.<Layer>newArrayList(viewControlLayer, occupancyGridLayer, laserScanLayer, pathLayer, ma

[2016-06-30 03:35] tony1213 opened #53 "Runtime Error “We are running as standalone :(”"
This error is happened when I start a App(Make A Map or others).I set ip and port,it can connected ,but one second it crashed. I find this code is at RosAppActivity line number 117.

[2016-08-08 18:00] dario-pedro opened #54 "Error importing the project"
Hello,

When following the [tutorial](http://wiki.ros.org/ApplicationsPlatform/Clients/Android/Tutorials/Getting%20Started) , I got this error:
`Error:Connection timed out: connect. If you are behind an HTTP proxy, please configure the proxy settings either in IDE or Gradle.`

I'm not behind an HTTP proxy. Is the android_apps repository still available ?

[2017-01-12 07:08] HelloEgg commented on #51
I tried this method. However, I get an error saying:
Process: com.github.rosjava.android_apps.make_a_map.indigo, PID: 1031
                                                                                                 java.lang.RuntimeException: An error occurred while executing doInBackground()

[2017-01-12 08:17] HelloEgg commented on #42
I cloned "android_apps" repository
and changed "mapview.addLayer" to
mapView.onCreate(Lists.<Layer>newArrayList(viewControlLayer,occupancyGridLayer,laserScanLayer,pathLayer,mapPosePublisherLayer,initialPoseSubscriberLayer));
However, error occured when I connected to my robot saying:

Process: com.github.rosjava.android_apps.map_manager.indigo, PID: 21230

[2017-01-12 13:37] adamantivm commented on #42
@HelloEgg can you share a bit more information on what you did in order to get to this point?

For example:
 - Did you change anything in the build configuration, like the version of Gradle?
 - What version of Android Studio are you using?
 - On what Android device (and which version of Android) are you running?

Any other relevant environment information that you can share would be helpful. Thank

[2017-01-12 13:44] HelloEgg commented on #42
Well I havent change Gradle version..
I use the newest version of android studio
And I use Galaxy s6 Marshmellow(api23)
Do you happen to have a project file that has successfully ran on android device?
Thank you very much for your help... I am dire for solution as I have been pulling my hears off for past few days figuring out possible way to run "map_nav" and other apps in "android_apps" reposito

[2017-01-12 13:58] adamantivm commented on #42
@HelloEgg my impression is that perhaps some instance of `addLayer` replacement was missed. I am trying myself and I see that the errors pointed at by the exception are places where I forgot to change the API as suggested on #51.
Perhaps may I suggest that you create a PR to indigo with your code changes? That will allow myself (and others) to see exactly how are you doing what is suggested in #51

[2017-01-12 14:07] adamantivm commented on #51
@HelloEgg this report is for map_nav, not make_a_map, would you mind opening a separate issue for this?

[2017-01-12 14:09] HelloEgg commented on #42
Sure thank you very much!
You suggest that I should make a seperate tree?
(Sorry I  relatively newb to git)
I tried the "MainActivity" code suggested by stonier as shown in the source code..
The original error(doInbackground) is fixed however new error came up though...
It says:
Process: com.github.rosjava.android_apps.map_nav.indigo, PID: 25063
                                                   j

[2017-01-12 14:11] HelloEgg commented on #51
Oh I WAS having problem with "map_nav"
Do you have any known repository that works on
Android studio 2.2.2?
gradle version I use is 2.2.1

[2017-01-12 14:13] adamantivm commented on #51
@HelloEgg the stack trace shown above is for make_a_map.

If you test the latest kinetic versions of android_core and android_extras, they are working on Android Studio 2.2.2.

I was able to go through most of the basic / core applications, but not android_apps unfortunately.

[2017-01-12 14:18] HelloEgg commented on #51
Oh.. I must have uploaded wrong stack trace..
kinetic version of android_core works perfectly fine, however I want to use "map_nav" and other apps that are included in "android_apps"

[2017-01-12 14:20] adamantivm commented on #51
@HelloEgg unfortunately no one seems to have had the time to update android_apps yet.
If you could please send a PR with the changes you're doing and post the correct stack trace perhaps together we can find the issue and incorporate the workaround for you and everyone else.

[2017-01-12 14:23] HelloEgg commented on #51
Could you tell me what you mean by "PR"?
Changes I made on "MainActivity" was exactly the same code with what stonier fixed(https://github.com/rosjava/android_apps/commit/9e780b4bbb647360a3ebfb25b0edbb9b8e023391)
And stack trace were:
Process: com.github.rosjava.android_apps.map_nav.indigo, PID: 25063
                                                   java.lang.NullPointerException: Attempt to inv

[2017-01-12 14:36] adamantivm commented on #42
@HelloEgg I think I know what the problem is: you're probably using the `master` branch? That one is currently obsolete. You should try using the `indigo` or `kinetic` branch instead, which already has this change applied to it.

[2017-01-12 14:44] HelloEgg commented on #42
I tried both indigo and kinetic branch

I noticed that the "addlayer" part was still not fixed..

Should you know any repository that fixed right..
 Please tell me

[2017-01-12 15:04] adamantivm commented on #42
I tried a few things and I agree with you that even with the addLayer fixes (they were added again afterwards) map_nav still crashes.
I am not sure what to suggest next, it needs more profound debugging to be fixed, it is currently broken.

[2017-01-12 15:13] adamantivm commented on #51
@HelloEgg I don't know if this is an option for you but these apps are available from the Google Play Store. If you install them from there they do work fine.

[2017-01-13 04:58] HelloEgg opened #55 "Map_Nav got error.. please help (other apps too except for teleop)"
I tried to clone 'indigo''s brach.
I noticed that the 'addLayer' part was removed from visualization view and I replaced the code
as stated in #42
However, after I replaced
mapView.addLayer(viewControlLayer);
mapView.addLayer(occupancyGridLayer);
mapView.addLayer(laserScanLayer);
mapView.addLayer(pathLayer);
mapView.addLayer(mapPosePublisherLayer);
mapView.addLayer(initialPoseSubscriberLayer);

to

[2017-01-23 06:50] HelloEgg opened #56 "MapNav add activity?"
I'm trying to add new activity called "SecondMainActivity"

This activity does exact same function as MainActivity in MainActivity except location of  RosImageView and Visualization view are changed with each other.

Apparently, I have to register SecondMainActivity in Mainfest however, I failed because "SecondMainActivity" is not in the package "com.github.rosjava.android_apps.map_nav"

Could you

[2017-01-23 09:31] HelloEgg commented on #56
I solved this by doing the following things..

1. Made a new layout called "secimg" which is same with "main" but has changed location between visualization view and Ros Image View. and has transparent button on top of where visualization view is in main.xml

2. In MainActivity, I added the following code:
if (layout == 0){
		setMainWindowResource(R.layout.main);}
		else{
			setMainWindowResource(

[2017-01-23 09:36] HelloEgg commented on #55
This issue has been solved..

Not completely but partially

change the dependency of android_10 or android_10 gradle file of each method (android_map_nav... or android_teleop and so on)

Do not put dependency on github source but on your project file.

This is done by typing following code:

compile project(':android_15')

This should allow you to use addlayer method.

Other contributers are still

[2017-01-23 09:37] HelloEgg commented on #51
Resolved! I commented on #55
Apparently neither addlayer or #42 seems to be current solution.
Therefore, do depend on local android_10 or android_15 rather than whats in github

[2017-01-23 15:49] adamantivm commented on #56
@HelloEgg thanks for sharing all this info! It will definitely be useful for others coming after you.
For this kind of general "how to" question, I would suggest you use [ROS Answers](http://answers.ros.org/questions/) which is the right place for discussions.
This issue tracker is more prepared for concrete identified bugs (like the addLayer one).

[2017-01-23 15:49] #56 closed

[2017-01-30 09:33] HelloEgg opened #57 "Map_Nav add layer error.. cannot draw map and set pose, lase and etc at same time"
While I was trying to build map_nav, I noticed that add layer part has several errors.

As I touched mini view at upper right side (the occupancy layer preview), the map just disappears

and only arrows and paths appears.

I tried to fix this problem by loading separate "main activity" and two layouts.

Initially, the map appears in large scale and camera view appears in small scale (first layout,

[2017-02-06 14:36] jubeira commented on #55
Hi @HelloEgg ,
I think the problem is the version of Android 15.
All the projects using `addLayer` require android_15 version >= 0.3, which would be kinetic branch (that method isn't available in released version 0.2). Something like this:
`  compile 'org.ros.android_core:android_15:[0.3,0.4)'`

That's why when you change it to `compile project(':android_15')` it works: you are probably using kine

[2017-02-07 10:33] ZhuJingquan commented on #55
Hi,@HelloEgg ,@jubeira ,I have a problem when I typing : **compile project(':android_15')**  in build.gradle , when gradle the project ,the erro come up sying : **Error:(20, 0) Project with path ':android_15' could not be found in project ':make_a_map'**. How can I solve the problem? thank U~

[2017-02-07 12:23] jubeira commented on #55
Hi @ZhuJingquan ,
If you write it that way, Gradle will look for a project named android_15 (which is part of `android_core` repository) in the defined paths. Do you have a local copy of the code?
If you didn't download android_core, I suggest you to try this option:
-In project's build.gradle, use the following lines:

[code]
(Remember to change the gradle version in your gradle.properties file t

[2017-02-08 01:34] ZhuJingquan commented on #55
Hi, @jubeira ,follow your guide it works!, thank you well much for your in time help!

[2017-02-08 10:49] ZhuJingquan commented on #57
Hi, @HelloEgg , in the make_a_map project I just using method  mapView.addLayer() as follow:
`      mapView.addLayer(viewControlLayer);
        mapView.addLayer(occupancyGridLayer);
       mapView.addLayer(laserScanLayer);
        mapView.addLayer(robotLayer);
		mapView.addLayer(robotPose);
		mapView.addLayer(robotPath);
		mapView.addLayer(viewControlLayer);`
but when I open the app ,I could only

[2017-02-08 10:54] ZhuJingquan commented on #55
Hi, @jubeira , Sorry to bother you again, in the make_a_map project I just using method mapView.addLayer() as follow:
`mapView.addLayer(viewControlLayer); mapView.addLayer(occupancyGridLayer); mapView.addLayer(laserScanLayer); mapView.addLayer(robotLayer); mapView.addLayer(robotPose); mapView.addLayer(robotPath); mapView.addLayer(viewControlLayer);`

but when I open the app ,I could **only see the

[2017-02-08 12:44] jubeira commented on #55
Hi @ZhuJingquan , sorry, I haven't tried that application in particular.
These apps seem to be a little outdated, if you see that there is a problem and you find a way to fix it, please feel free to send a pull request. It will be very welcomed!
I will most likely do so with map_nav once I get it to work properly.

[2017-02-08 17:18] jubeira commented on #55
@HelloEgg were you able to see the map drawn on the screen with your fix? I got to the point of loading a map, and I can see something when the main view is the camera view, but when I toggle the main view to the map view, I only see a blank image. Does the same happen to you after fixing `addLayer`?

[2017-02-08 17:32] HelloEgg commented on #55
Yes. To be exaxt, as I clicked the upper right hand map, the map disappeared and only initial pose and lasers, path appeared. I tracked down the log and It turned outthat occupancy layer(map) was not running. I believe in your case, your ROS does not have initial pose, laser and path module running or you have wrong node topic and name in your android project. However, in either case, I strongly b

[2017-02-09 12:59] jubeira commented on #55
@HelloEgg thanks for your reply. I agree with you, this needs some further works. Right now I'm into something else, so I don't know if I will have the time to fix it.
Just curious, are you using ROS Indigo? I had some troubles to load the map with Kinetic, the packages providing the `list_maps` service seem to be out of date too.

[2017-02-17 18:59] ernestmc commented on #51
Indeed the solution is to use android_15 v0.3+. For example use the following line:
[code]
Will submit a PR fixing this.

[2017-02-17 20:34] #51 closed

[2017-02-17 20:40] ernestmc commented on #55
My latest PR solves the compiling issues but I'll have to further check the reports of the apps not working as supposed to.

[2017-03-31 21:35] JENkt4k commented on #51
Any luck building this? I'm still having missing resources issues:
Using Android 2.2.2 and gradle version 2.2.1 (also tried 2.14.1)
git checkout -b kinetic https://github.com/rosjava/android_apps.git
SDK 15 target
example errors that appear: Error:(2) Error retrieving parent for item: No resource found that matches the given name 'android:TextAppearance.Material.Widget.Button.Borderless.Colored'.

[2017-04-03 15:57] adamantivm commented on #51
@JENkt4k yes, `compile 'org.ros.android_core:android_15:[0.3,0.4)` should solve the issue. Which particular project is failing to build? Could you please upload a gist with the full log?

[2017-04-03 19:02] jubeira commented on #51
I'm getting the same error too... I think the Gradle scripts need some updating, I will issue a PR with the fixes soon

[2017-04-05 09:17] JENkt4k commented on #51
@jubeira You are the man! It built and ran after update. I'm currently looking through your changes, and I see some similar to the ones I made locally, but I haven't found the piece(s) I was missing, or maybe never I tried the entire/exact combination, BeyondCompare to the rescue soon I suppose. Thanks again for your help.

@adamantivm  Sorry I did't get back to you in time, been working on some o

[2017-04-05 12:55] jubeira commented on #51
@JENkt4k YW! That's what the community is for ;). Perhaps you didn't apply the kinetic script with the latest Gradle version in the top-level script. I think this is the best way to get your project working with the current tools.
I can't tell if all the apps work as expected though. If you see something broken, please feel free to open an issue/ send a PR.

[2017-07-01 04:26] DavidHan008 opened #63 "How can I use make a map APP?"
I have rplidar A2. and I want use the APP: make a map?
I run gmapping in my ubuntu .
but in android is nothing map .
I want to save map. but have some Error:
No such service /save_map of type world_canvas_msgs/SaveMap
please help me thx.

[2017-07-01 08:25] DavidHan008 commented on #57
@ZhuJingquan  hi how I can use the app make_a_map.
why my android do not have map?

[2017-07-02 13:57] DavidHan008 commented on #63
java.lang.UnsupportedClassVersionError: com/android/build/gradle/AppPlugin : Unsupported major.minor version 52.0

[2017-07-03 11:58] adamantivm commented on #63
@DavidHan008 unfortunately this is too vague and high-level to be able to advise you.
For general advice I suggest you use [ROS Answers](http://answers.ros.org/), you may get better responses there.

[2017-07-03 11:58] #63 closed

[2017-08-04 06:52] DavidHan008 commented on #50
you solve the problem? I meet same problems

[2017-08-04 07:03] DavidHan008 opened #64 "camera can not open and make a map make nav cannot use"
i android 4.4.4.I think  android_19 is useful. but now is android_15
dependencies {
  compile project(':android_15')
}
can use upload the android_19?

[2017-08-04 12:12] jubeira commented on #64
Hi @DavidHan008,
`android_15` is just a project name, it doesn't mean you need to use version 15 for your app. The number 15 is just to enforce that you should have __at least__ android 15 to use those features, but you can use later versions. Does that make sense to you?

[2017-08-04 12:33] jubeira commented on #50
Hi @Annyv2 @DavidHan008, can you say anything else about the issue? What would be the exact steps to reproduce it?

[2017-08-05 02:20] DavidHan008 commented on #64
@jubeira Hi, but I open the android app peoject in android studio（IDE）. but when I use " make a map"   app . the android view layer is nothing. I think the problem is android tool. what do you think?
my android is android 4.4.4
ROS indigo
laser lidar is LMS100

[2017-08-05 04:35] DavidHan008 commented on #64
@jubeira
android studio is 2.3.1 verson
![screenshot_2017-08-05-11-18-40](https://user-images.githubusercontent.com/20897237/28992838-e4f617e4-79d9-11e7-8e4d-d4d6880f5da1.png)
rqt_graph are follows:
![1443790169](https://user-images.githubusercontent.com/20897237/28992855-40507dfa-79da-11e7-81ff-067fbbb66602.jpg)
![940049506](https://user-images.githubusercontent.com/20897237/28992860-54ff294a-79d

[2017-08-06 11:59] DavidHan008 opened #65 "error such service /save_map of type world_canvas_msgs/SaveMap"
my android is 4.4.3 API 19.
I use the make a map want to save map but no map and no way save map can you help me ?
![screenshot_2017-08-06-19-58-17](https://user-images.githubusercontent.com/20897237/29003026-af5ff844-7ae1-11e7-9974-3ade5bd4473d.png)

[2017-08-07 00:15] adamantivm commented on #65
@DavidHan008 could you please post a link to the tutorial that you are following?
These apps are supposed to be used with a given Turtlebot desktop configuration, which I am not very familiar with. But I am almost sure that this service is something that should be running on a desktop somewhere. Are you properly following the instructions to do that?

[2017-08-07 01:34] DavidHan008 commented on #65
@adamantivm HI
 I just want to use the app in my car pioneer3DX
I use rosaria and lms100 lidar.
my lidar toplic is /scan
I use gmapping the topic is /map
the robot frame is /base_link
but is not view anything in the app
when I want to save map. the error will happpen.
do you have the tutorial use the app in turtlebot?

[2017-08-07 11:44] adamantivm commented on #65
@DavidHan008 unfortunately these apps are unsupported. They were created by a group that is no longer working or maintaining these apps and I am not familiar enough to make them work.

I think these were originally meant to use with android_remocons, which is even less maintained: http://wiki.ros.org/android_remocons

My suggestion is that you try to either search for old information on android_re

[2017-08-07 12:37] jubeira commented on #65
@DavidHan008 as @adamantivm points out, you will have to do some work to make these apps work.
As the message says, you need to have a node advertising the `save_map` service of type `world_canvas_msgs/SaveMap`.
I understand that the node that provides that service is here: https://github.com/corot/world_canvas/tree/master/world_canvas_server. Try downloading that code and starting the node that h

[2017-08-07 12:40] jubeira commented on #64
@DavidHan008 unfortunately this seems to need some debugging.
As you say, if in RVIZ the maps looks OK, the problem may be the way the app is drawing it.
When you say Android tool, do you mean the build tools used?
I will take a look at this when I have some spare time. If you find a fix for the issue, please feel free to send a PR with the solution.

[2017-09-08 01:54] Y-JH commented on #3
Duplicate finish request for ActivityRecord...
出现这种错误的原因是，你在操作关闭当前activity的时候 finish 了两次获更多次。检查一下你的关闭当前页面的代码有没有重复的 finish  。我遇到这个问题了，是因为我不小心在Activity中重写finish方法中 又调用了一次finish方法...

[2017-09-08 12:04] adamantivm commented on #3
@Y-JH could you explain a little more what exactly were you trying to do when you had this problem? Which of the android_apps are you trying to use, which version, and what are the steps to produce this problem?

你写简单汉语的话，可能我可以懂你的问题。

[2017-09-26 13:34] jubeira commented on #45
Did you have internet in that network?
I think the app is doing some post to a remote server in the internet, and if there's no connection it crashes.
I will take a look at this.

[2017-09-26 13:35] jubeira opened #69 "Map nav crashes on start (without internet)"
The application crashes right after attempting the Master connection if the network that is connected to has no internet connection.

Perhaps this is related to some NTP sync that is being performed (probably the cause of #45).

I will take a look.

[2017-09-27 00:02] #69 closed

[2017-10-08 00:53] jrlandau opened #71 "How to use teleop app?"
I have been unable to figure out how this app is to be used.  Is there documentation? The wiki is uninformative.

[2017-10-10 01:12] jubeira commented on #71
Hi @jrlandau,
it's true that the wiki doesn't give much information about it. I will update it myself when I have some free time, but in the meantime...
- When you turn on the application, you will first see the MasterChooser activity. Write the IP address of your ROS master running (which would probably be the robot) and press "connect"
- Once connected, try listing the topics. You will see `/cmd

[2017-10-13 23:48] jrlandau commented on #71
I did get the robot to move, and I was able to see the cmd_vel messages by
using rostopic echo on the robot.  I don't understand what you are doing
with images at all.  What images?

Is this a rosjava app?

On Mon, Oct 9, 2017 at 6:12 PM, Juan Ignacio Ubeira <
notifications@github.com> wrote:

[2017-10-14 17:29] jubeira commented on #71
When you connect to the ROS master in the teleop app, you will see not only the joystick but an optional image stream:
![image](https://user-images.githubusercontent.com/2480899/31577819-d9256d22-b0eb-11e7-984a-fe5e5dc300d8.png)
To visualize that in your Android device, you need your robot to publish compressed images to the topic `compressed_image`. If your robot doesn't have a camera or can't pu

[2017-10-14 19:28] jrlandau commented on #71
Thanks--I understand.  I am working with Ubiquity Robotics and have written
a robot control app
<https://play.google.com/store/apps/details?id=com.jrlandau.robotcmdr&hl=en>
with voice control.  So, I'm always interested in what other people have
done.

I will investigate providing the image facility, as you do.

My app is a Cordova app, uses Rosbridge, open src, and is on GitHub
<https://github.co

[2017-10-17 11:36] jubeira commented on #71
@jrlandau interesting! Thanks for the info.

/cc @Shokman @FlorGrosso @eborghi10 ^

[2017-11-08 16:58] #71 closed

[2017-11-08 17:00] jubeira commented on #45
@adolescent @AmitMoran this should be solved with #69.
I will leave this issue open for a while just in case. Please let me know if you have the chance to try it.

[2017-11-20 10:34] tomliu77 opened #72 "How can i reconnect with RosMaster"
if i turn off wifi, and then i turing on ,app can't reconnect with my robot,show i close server and start it again or threre is some simple way?

[2017-11-20 18:19] jubeira commented on #72
Hi @tomliu77,
I guess you'd need to handle that case in your application manually; I really don't think that case is handled right now. You would need to detect when the WiFi goes back again, shut down all your nodes and launch them again.

The easy workaround is what you say: close the app and reopen it.

[2017-11-21 10:49] tomliu77 commented on #72
@jubeira, thanks for your answer,I use nodeMainExecutorService.shutdownNodeMain() to shutdown all my nodes and use nodeMainExecutor.execute() to launch them again. But the question is , I see  the callback onShutdownComplete() is called quieckly but the node looks like not shutdown competely, Because the number of thread haven't  reduce . When I  try to restart my nodes ,app chrashed with OOM

[2017-11-21 11:21] tomliu77 commented on #72
@jubeira, by the way ,I have 18 nodes and I find 400+ thread  in  Android studio profiling , when i shutdown my nodes ,the number of thread will reduce to 60+ after 1min.  Also, should i call an  new NodeMainExecutorService  when wifi has been reconnected?

[2017-11-21 11:22] tomliu77 commented on #72
@jubeira, thanks for your answer again

[2017-11-21 12:41] jubeira commented on #72
@tomliu77 I'm not 100% sure about this, but I think you should code `forceShutdown` in `NodeMainExecutorService` to shut down all the nodes and not just one. Note that it may take a while to try to disconnect nodes if you don't have connection to the Master, because your nodes will try to contact it and fail with some timeout.
And taking a quick look at the code, yes, I would create a new `NodeMai

[2017-11-23 02:03] tomliu77 commented on #72
@jubeira,Thanks for your advice. When I code `forceShutdown` in `NodeMainExecutorService ` ,my Activity also finished immediately and I find this in RosActivity

[code]

It's seems like I can not use this way ,so  I delete  `RosActivity.this.finish()`  , but the number of thread in the background don't  reduce immediately . Is there some way to shutdown nodes immediately  and make them not contact

[2017-11-23 13:03] jubeira commented on #72
Hmm there's no standard way to do that that I know of...
Let me explain. In ROS you always expect the Master to keep track of the list of registered nodes and topics. When a node shuts down, it tells the master to unregister itself; if there's no response, it may be because networking issues, and that's why there are timeouts. Bypassing all that sounds like a hack to me; you may find a way around

[2017-11-23 13:04] jubeira commented on #72
The real clean way would be to shut down all the nodes before turning off Wi Fi (that won't take long, because all the nodes will just unregister in the standard way without timeouts), but you may not have control over that.

[2017-11-25 02:04] tomliu77 commented on #72
@jubeira,Thank you. It's seems like `nodeMainExecutorService.getScheduledExecutorService().shutdownNow();` will work . if I find a better way ,I'll tell you the first time

[2018-01-16 16:47] shakthi-prashanth-m opened #73 "Android app to control a Robot that runs kinetic"
Hi I am new to rosjava android.
I am curious to know is it possible to develop Android apps that control Robots (**Ubuntu 16.04**) running `ros-kinetic `?

Appreciate your help.
Thanks.

[2018-01-22 12:35] jubeira commented on #73
Hi @shakthi-prashanth-m,
What type of robot are you trying to control?

If it is an autonomous robot, you can check map_nav inside this repo. It will allow you to send 2D goals to a robot within a map.

http://wiki.ros.org/android This is a good point to get started, and you can also take a look at the source code to see what's happening under the hood.

Does that sound good?

[2018-01-22 14:57] shakthi-prashanth-m commented on #73
Thanks @jubeira . I wanted to develop android application for a Drone.
My goal is to control my Drone using Android app.
As per my understanding, I can do either of them to start with. Please guide me how to get started in either of the steps.

1.  Develop an Android app and run it on emulator that does Takeoff, Land on Simulator on Gazebo.

2.  Write an Android app on Mobile to issue Takeoff, Lan

[2018-01-22 19:39] jubeira commented on #73
Sounds interesting!
I don't know the internals of MAVROS. Can you control those actions by using services and/ or sending messages to a node contained in MAVROS? If that's the case, you should be able to do it.

To develop with Android Studio, I personally prefer using it together with the standard `ros/catkin` way of creating packages. Follow these tutorials:
- http://wiki.ros.org/android/Tutoria

[2018-01-23 05:07] shakthi-prashanth-m commented on #73
Yes. MAVROS exposes ROS Services to control drone. It supports `kinetic` version.

Thanks for the pointer to tutorials. I will follow them.

Why `indigo` ? I wanted to build for `kinetic`.

[2018-01-23 15:30] jubeira commented on #73
That's the way the tutorials are linked; always go to the entry point if you have a doubt: https://wiki.ros.org/android. It's the same for Kinetic/ Indigo; the only thing that matters is the version that you specify in your buildscript. The range `[0.3, 0.4)` should work well for `android_core` dependencies at Kinetic version.

If you only need an app that triggers services exposed by MAVROS, it s

[2018-01-27 04:05] shakthi-prashanth-m commented on #73
@jubeira thank you so much for the detailed help. I will post my result.

[2018-02-02 02:26] 13222525 opened #74 "error:The version of the android gradle plugin and gradle are not compatible."
Error:The versions of the Android Gradle plugin and Gradle are not compatible.
Please do one of the following:<ul><li>Update your plugin to version 2.4. This will require changes to build.gradle due to API changes.
<a href='https://goo.gl/sEn5eA'>Open migration guide</a></li><li>Downgrade Gradle to version 3.5.
<a href="fixGradleVersionInWrapper">Fix Gradle wrapper and re-import project</a></li></

[2018-02-02 02:47] 13222525 commented on #74
apply from: "https://github.com/rosjava/android_core/raw/kinetic/buildscript.gradle"

add:
    dependencies {
        classpath 'com.android.tools.build:gradle:3.0.1'
    }
result:
buildscript {
    //apply from: "https://github.com/rosjava/android_core/raw/kinetic/buildscript.gradle"
    /*
    dependencies {
        classpath 'com.android.tools.build:gradle:3.0.1'
    }
    */
    apply from: "h

[2018-02-05 04:30] TheByteMonster opened #75 "Teleop Launch Activity"
So I am using the app for a project for university, and I can't seem to find the launch activity for the teleop activitiy. The one which says  "Master URI..... Read QRCode.....Connect". That is the the activity that I am having trouble locating. Can anyone point me in the right direction to where the launch activity is?

Thanks

[2018-02-05 12:44] jubeira commented on #75
Hi @TheByteMonster!
[ROS answers](https://answers.ros.org) is probably a better place to ask these kind of questions.

Anyway, here's a brief explanation.
In general, the activities in ROS applications extend [RosActivity](https://github.com/rosjava/android_core/blob/kinetic/android_10/src/org/ros/android/RosActivity.java). Take a look at its constructor. In particular, `startMasterChooser` method

[2018-02-06 01:44] TheByteMonster commented on #75
Hi @jubeira
Yeah that makes sense. Thanks for clearing it up.

[2018-02-06 12:41] #75 closed

[2018-02-09 10:34] shakthi-prashanth-m commented on #73
Hi @jubeira warm greetings!

I followed the tutorials you recommended. I was able to connect my Android phone successfully
to remote roscore as shown [Testing Android ROS installation](http://wiki.ros.org/android/Tutorials/kinetic/Installation%20-%20ROS%20Development%20Environment).
Then I proceeded to [create Android packages](http://wiki.ros.org/rosjava_build_tools/Tutorials/indigo/Creating%20An

[2018-02-09 11:50] jubeira commented on #73
Hi @shakthi-prashanth-m !

Yes, that is a known issue; you can check https://github.com/rosjava/rosjava_build_tools/issues/32 for more details.
In few words, that is correct: `android` command was deprecated in newer build tools versions.

You have some options:
- Download the build tools version indicated in the issue I linked above manually, and replace your current build tools with it
- Clone `

[2018-02-09 13:49] shakthi-prashanth-m commented on #73
I followed 1st one, and it worked!
Thanks @jubeira !

[2018-05-21 09:26] LebronGuo23 opened #77 "A problem about control turtlebot2 using APP (CANNOT START APP)! HELP!"
I have been used APP named "Recon Remocon(indigo)" to connect my turtlebot2，and it made Moo successfully...
But when i enter the interface（turtlebot - Android Pairing）and select a other app(such as teleop)，i click on "LAUNCH" it‘s wrong! It said "CANNOT START APP ------App URL is not valid.no protocol:com.github.rosjava.android_apps.teleop.indigo.MainActivity",I only click on "ACCEPT"...
My ros ve

[2018-06-14 02:24] ARLunan opened #78 "ROS Kinect Teleop Android App with Raspberry Pi / Camera Kinect and Raspicam_node"
Kinect Build/Install for Android Tab Nougat (7.0) teleop connects and teleop function works to drive the Raspberry Pi TurtleBot 3 but no image shows. Raspicam_node publishes /raspicam_node/image/compressed [sensor_msgs/CompressedImage] but /Android/camera_view rosnode info shows Subscription to CompressedImage [unknown format].

Can this Teleop App be made to connect and work with the TurtleBot 3

[2018-06-14 12:43] jubeira commented on #78
Hi @red24dog,

I've actually never tried that, and unfortunately I don't have the required hardware. You may need to debug the app a bit to make it work. Do the topics of the publisher and the subscriber match? Have you tried using `adb` and adding some logs to check if the tablet is receiving the images?

[2018-08-27 11:24] boirosma2 opened #79 "Map_manager "waiting for map list""
Hello, Can you help me please? I'm using the rosjava map manager tutorial (in this link https://github.com/DreamFly111/make_a_map ), i've installed the apk file and i'm able to connect with my robot. but after the master connection, i have a waiting dialog with message "waiting for maps" like it's waiting for somethings, the "Make A Map" tutorial is working fine, but the "Map Nav" tutorial show th

[2018-08-27 12:19] jubeira commented on #79
Hi @boirosma2,

If you take a look at the source code of `map_nav` application, you will see that the message is [displayed](https://github.com/rosjava/android_apps/blob/be701f3fe7ab9be63fddee2da629feb3b4031e62/map_nav/src/main/java/com/github/rosjava/android_apps/map_nav/MainActivity.java#L223-L247) when [MapManager](https://github.com/rosjava/android_apps/blob/be701f3fe7ab9be63fddee2da629feb3b40

[2018-08-27 13:11] boirosma2 commented on #79
thank you @jubeira  for your reply, but i had already this package in my project

[2018-08-28 10:54] boirosma2 commented on #79
can someone help me please?

[2018-08-28 12:01] boirosma2 commented on #79
@jubeira i had already the package world_canvas_msgs/ListMaps as external librairy like below

![capture du 2018-08-28 13-46-37](https://user-images.githubusercontent.com/35273483/44721535-7c47dc00-aaca-11e8-8ddb-02f1f4c1fdc4.png) #

is that the same as you explained??

[2018-08-28 12:46] jubeira commented on #79
@boirosma2 I suggest you to read some ROS tutorials first. Do you know what a ROS service is, and how it works? If not, I suggest you to start here: http://wiki.ros.org/Services.

What you need is not only the message definition (which is what you have there), but a ROS node that actually provides that service as a server. The node that provides it is in the repository I pointed above (https://git

[2018-08-28 13:38] boirosma2 commented on #79
thank you so much @jubeira, i undertand better now, but i have one last question, how do i run the code? is it in my android app? or you meant in my Ros System through command prompt directly in my robot?

[2018-08-28 14:16] jubeira commented on #79
I meant in the ROS system (i.e. the node has to be registered in the same ROS master as the nodes running in your app); it doesn't need to be inside the android app. In fact the code of the `ListMap` service server is probably in Python or CPP, which can't run directly on Android.

[2018-08-28 15:12] boirosma2 commented on #79
@jubeira it was very useful for me ! thank you ! thank you !

[2018-09-06 12:11] hsiaray commented on #57
same question, in the real environment, only map or laser is shown.
but i can see them both when using gazebo...using the same app

[2018-10-25 01:15] loulansuiye opened #81 "org.gradle.api.ProjectConfigurationException: A problem occurred configuring project ':make_a_map'."
can not compile with AS

[2018-10-30 21:08] jubeira commented on #81
Hi @loulansuiye,

Could you specify the error you got when building the app?

[2018-11-01 00:58] loulansuiye commented on #81
@

No toolchains found in the NDK toolchains folder for ABI with prefix: mips64el-linux-android

[2019-01-20 15:55] devin91 opened #82 "the app can not display map"
@jubeira  hi ,jubeira , i use the app to display map which is in my own robots system ,but it don't work very well.the map layer can't display,my ROS is kinetic.when i try to use another robot with ROS-indigo ,it work well,so does it only support indigo well and don't support kinetic?

[2019-01-21 12:40] jubeira commented on #82
Hi @devin91,
I haven't tried the app -are you using `map_nav?- in a long while (it should work with Kinetic as well), and with this description it's a bit hard to tell what the problem is.
Try debugging it using `logcat` to see what's happening; check that the data is being transmitted properly through the topics and that no weird exceptions are thrown. If you bring some stacktraces perhaps I can

[2019-03-15 09:34] gakkiHp opened #83 "imu+image"
Is there an app that can get the imu+image data?

[2019-03-15 18:24] jubeira commented on #83
Not in this repository, but indeed it would be a great idea to do a sample app that does that in Java.

[2019-03-15 18:55] jubeira commented on #77
Please use https://answers.ros.org for questions like these, describing the problem as much as you can.

[2019-03-15 18:55] #77 closed

[2019-03-15 18:57] jubeira commented on #54
That tutorial does not apply anymore; the `android` entrypoint is http://wiki.ros.org/android.

[2019-03-15 18:57] #54 closed

[2019-04-08 03:56] WestbrookZero opened #84 "Could not find method implementation() for arguments [com.github.rosjava.android_remocons:common_tools:[0.3,0.4)] on object of type org.gradle.api.internal.artifacts.dsl.dependencies.DefaultDependencyHandler"

[2019-04-08 13:41] jubeira commented on #84
`android_remocons:common_tools:0.3.0` is in `rosjava_mvn_repo`: https://github.com/rosjava/rosjava_mvn_repo/tree/master/com/github/rosjava/android_remocons/common_tools.

Please make sure Gradle is updating the dependencies from there.

[2019-04-09 08:47] WestbrookZero opened #85 "android.view.ViewRootImpl$CalledFromWrongThreadException: Only the original thread that created a view hierarchy can touch its views. Please help"
In the make a map mudule，apk run crash，Caused by: android.view.ViewRootImpl$CalledFromWrongThreadException: Only the original thread that created a view hierarchy can touch its views.
        at android.view.ViewRootImpl.checkThread(ViewRootImpl.java:7390)
        at android.view.ViewRootImpl.focusableViewAvailable(ViewRootImpl.java:3481)
        at android.view.ViewGroup.focusableViewAvailable(Vi

[2019-04-09 12:17] jubeira commented on #85
Hi @WestbrookZero, could you add more info about what you were doing exactly when the exception happened?

[2019-04-10 09:55] WestbrookZero commented on #85
I have solved the problem,
this.act.runOnUiThread(new Runnable() {
            @Override
            public void run() {
                // refresh ui
                ViewControlLayer.this.cameraView.setOnClickListener(new View.OnClickListener() {
                    @Override
                    public void onClick(View v){
                        swapViews();
                    }

[2019-04-10 12:30] jubeira commented on #85
Alright, great! Please feel free to open a PR with your proposed patch if you want.
Thanks in advance!

[2019-04-11 01:39] WestbrookZero commented on #85
cannot display map,how to display the map in the make a map app ?
![image](https://user-images.githubusercontent.com/13358789/55934294-b5504d80-5c62-11e9-82c2-3722f39f9351.png)

[2019-04-17 06:22] #85 closed

[2019-04-17 06:23] #84 closed

[2019-05-04 06:53] JiatongBao opened #86 "The App Crashed due to the ViewControlLayer class"
The app was successfully installed and run on the phone. However, after it connected to the ros master, the app then crashed due to the following problem. I did not modify any part of the source code.

E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #5
    Process: com.github.rosjava.android_apps.make_a_map.kinetic, PID: 18644
    java.lang.RuntimeException: An error occurred while executing doInBack

[2019-05-08 07:26] YY-GX commented on #86
Same problem. When I change sdk version to 25, it still doesn't work.

[2019-06-02 07:19] xiong-hui-hui opened #87 "fail to get scan data"
the map_nav application,use it to connect the turtlebot ,everything`s ok.but use it to connect youibot ,I can only get the map data,I can`t get scan data and camera data.I have try many method,I still cant get the message.I`m sure the topic name and the data type are right.ps:kinetic.If you have time ,please answer my question.thank you!

[2019-07-06 06:51] fayyazpocker commented on #79
The app is been waiting for map list for a long time. The app is being connected to the rosmaster running in the PC. `cmd_vel` is publishing well. I am running a bag file and running cartographer node which is publishing map on `/map`. I am able to visualize the map in rviz. I wanted to visualize the same in a mobile. However i am not able to visualize the map using the app. It is just waiting for

[2019-07-06 06:54] fayyazpocker commented on #79
![rqt_graph](https://user-images.githubusercontent.com/26159275/60752901-ee415980-9fe8-11e9-966a-97cee194dfb8.png)

[2019-07-14 14:44] zhangaimei opened #88 "the App Flashback"
I have git clone the code and built the project sucsussfully  and installed the app in my phone.
        In the MasterChooser interface,after I input the URI adress,it  jumped to the map control interface and and showed that it has connected. But then the App Flashed Back to Desktop.
       I have tryed make_a_map and map_nav,.That's the case with them.(I haven't changed the source code at all.)

[2019-07-27 00:33] YogangSingh opened #89 "Joystick App for ROS Melodic"
I am trying to use my Android Phone as Joystick for ROS Melodic. I do not want to develop the app from scratch and wanted to know if there is an app on Google Play store which can be used towards this? My main purpose is to increase the range of my joystick using WiFi.

Thanks in advance.

[2019-08-05 03:41] rouyunpan commented on #86
I encounter the same problem in android 8.0.

[2019-11-22 01:46] XiaoRGEEK commented on #88
I encountered the same problem with you. After successfully installing the app, after entering the address, it flashed directly. Have you solve this problem? If it is solved, can you tell me how to use it?

[2019-11-23 12:55] zhangaimei commented on #88
I have solved it. It is because the version of the content in the file of build.gradle is incorrect. I changed it todependencies {
&nbsp; compile 'com.github.rosjava.android_remocons:common_tools:[0.2,0.3)'
&nbsp; compile 'org.ros.android_core:android_15:[0.3,0.4)'
&nbsp; compile 'org.ros.rosjava_core:rosjava_geometry:[0.3,0.4)'
&nbsp; compile 'org.ros.rosjava_messages:map_store:[0.3,0.4)'
&nbsp;

[2019-12-30 01:22] zengkl520 commented on #88
You can run with the old version without crashing, but you need to modify some code to run
https://github.com/rosjava/android_apps/tree/e3fb0dbd588395da5f528655b1f9eecfdd339150

[2019-12-30 01:23] zengkl520 commented on #86
You can run with the old version without crashing, but you need to modify some code to run
https://github.com/rosjava/android_apps/tree/e3fb0dbd588395da5f528655b1f9eecfdd339150

[2020-01-16 09:27] xiayouli0122 opened #90 "map_nav cannot show map"
when i run map_nav app, only can show laser data ,map data is not draw

[2020-01-16 09:35] xiayouli0122 commented on #57
same question, when i swap views, only map or laser can show,
how can i show them both?
help~

[2020-01-25 01:12] oleg-alexandrov opened #91 "Documentation?"
Would it be possible for this repo to have some documentation, such as even a basic readme.md, specifying what apps are provided here and what they do, and maybe a pointer to other resources?

[2020-01-25 01:13] oleg-alexandrov commented on #83
Yes, please, an app that can publish camera images would be very, very useful.

[2020-02-15 14:14] harcker-star commented on #91
Compilation error.Visit `https://github.com/rosjava/android_core/raw/kinetic/buildscript.gradle`, the gradle connection is wrong.Can you maintain it?

[2020-03-02 16:24] gurpreet433 commented on #65
@DavidHan008 did you get it to work? I am having same issue and already wasted more than 2 days on it :(

[2020-05-03 04:07] belal1996 opened #92 "tpoics publish nothing"
why map-topics on map_nav doesn't publish when i run it.

[2020-05-13 11:03] kostaskonkk commented on #89
Hi YogangSingh,
this [app](https://play.google.com/store/apps/details?id=com.github.rosjava.android_apps.map_nav.kinetic&hl=en_US), provides the functionality that you search for.

[2020-05-28 12:57] basillee commented on #43
me too

[2020-07-16 06:48] kjitender469 commented on #92
@belal1996 will you please elaborate what is the exact issue? Tell the exact process how you use map_nav?

[2020-07-20 02:10] AlanHand opened #93 "Connection reset"
I can not get the from: "https://github.com/rosjava/android_core/raw/kinetic/buildscript.gradle" file from AndroidStudio.

[2020-09-09 13:48] arpit-korechi commented on #50
I am having the same problem I am able to connect with the master even use the Joystick but not able to get the messages from the subscriber in android.

here is the log from android studio
[log.txt](https://github.com/rosjava/android_apps/files/5195568/log.txt)

[2020-09-10 22:07] belal1996 opened #94 "use map_nav without camera"
hello
i am beginner on java, and i find this code to navigate with my robot,
my robot does not have a camera, so i  deleted it from the layout and java file.
but when i do it, i could not zoom on the map
so how i can use the app without camera???

[2020-09-24 15:12] belal1996 opened #95 "map_nav crashed when i open it"
when i just run the map_nav for my phone it crashed after wrote the ip adreess

[2020-09-24 15:13] belal1996 commented on #90
i think u should change the robot frame from laser to map

[2020-11-14 12:48] Byung-moon opened #96 "How do I get an apk-file of 'ROS Map Navigation Kinetic' which is in playstore?"
How do I get an apk-file of 'ROS Map Navigation Kinetic' which is in playstore?

Let me know some answers about the question.

[2020-12-10 03:03] slamlixiaodong commented on #86
did you solve the problem? I encounter the same problem.

[2021-05-07 02:39] DavidMGT opened #97 "> Could not get resource 'https://github.com/rosjava/android_core/raw/kinetic/buildscript.gradle'."
get error like this
Build file 'D:\github\android_apps-kinetic\build.gradle' line: 22

A problem occurred evaluating root project 'android_apps-kinetic'.

[2021-07-20 08:31] zc960301 opened #98 "map_nav:Package ‘geometry_msgs’does not exist"

[2021-09-02 02:17] chen8717868 opened #99 "How to release releases,"No cached version listing for org.ros.rosJavA_bootstrap: Message_generation :[0.2,0.3)""
How to release releases,"No cached version listing for org.ros.rosJavA_bootstrap: Message_generation :[0.2,0.3) available forOffline mode." I can only compile in offline mode, using org.ros.rosJavA_bootstrap :message_generation:0.3.3

[2021-12-29 00:45] l376571926 commented on #98
buildscript {
    repositories {
        maven {
            url "https://github.com/rosjava/rosjava_mvn_repo/raw/master"
        }
    }
}

implementation 'org.ros.rosjava_messages:geometry_msgs:1.12.7'

[2021-12-29 00:48] l376571926 commented on #97
翻墙

或者改host
https://github.com/521xueweihan/GitHub520

[2021-12-29 00:48] l376571926 commented on #97
翻墙

或者改host
https://github.com/521xueweihan/GitHub520

[2021-12-29 00:57] l376571926 commented on #35
![image](https://user-images.githubusercontent.com/16934505/147617672-56545980-81fa-42a3-8001-0f775a063b16.png)

[2021-12-29 01:04] l376571926 commented on #43
Have you ever tried whether robot time and computer time will affect navigation

[2021-12-29 01:07] l376571926 commented on #45
ViewControlLayer.java

viewMode = ViewMode.CAMERA;
if (context instanceof Activity) {
    ((Activity) context).runOnUiThread(new Runnable() {
        @Override
        public void run() {
            cameraView.setOnClickListener(new View.OnClickListener() {
                @Override
                public void onClick(View v){
                    swapViews();
                }
            });

[2021-12-29 01:16] l376571926 commented on #50
android_apps default image topic is "compressed_image" ,but my device image topic is "/raspicam_node/image/compressed"，moreover remember launch camera node in your robot

[2021-12-29 01:21] l376571926 commented on #64
in robot:
roscore
roslaunch turtlebot3_slam turtlebot3_slame.launch

[2021-12-29 01:30] l376571926 commented on #78
in robot:
source /opt/ros/kinetic/setup.bash
roscore
roslaunch turtlebot3_bringup turtlebot3_rpicamera.launch

[2021-12-29 01:36] l376571926 commented on #79
launch this node at pc that connect to roscore:
roslaunch turtlebot3_slam turtlebot3_slam.launch

than switch to module "make a map" and launch andorid app，so you can see map in your screen

[2021-12-29 01:40] l376571926 commented on #86
![image](https://user-images.githubusercontent.com/16934505/147619448-3d76707a-4ecb-4ea2-a530-1d353a12d6dc.png)

[2021-12-29 01:44] l376571926 commented on #87
if you want camera data,you should launch camera node first ,

like this "roslaunch turtlebot3_bringup turtlebot3_rpicamera.launch",

and change camera topic in android code to "/raspicam_node/image/compressed"

![image](https://user-images.githubusercontent.com/16934505/147619640-b14002f5-1ec9-4d11-94a1-c9b420b02c26.png)

[2021-12-29 01:52] l376571926 commented on #89
https://play.google.com/store/apps/details?id=com.robotca.ControlApp

[2021-12-29 01:53] l376571926 commented on #89
https://play.google.com/store/apps/details?id=com.robotca.ControlApp

https://github.com/mtbii/RobotCA

[2021-12-29 01:56] l376571926 commented on #90
roslaunch turtlebot3_slam turtlebot3_slam.launch

roslaunch turtlebot3_teleop turtlebot3_teleop_key.launch

rosrun map_server map_saver -f ~/map

roslaunch turtlebot3_navigation turtlebot3_navigation.launch map_file_file:=$HOME/map.yaml

[2021-12-29 01:56] l376571926 commented on #90
roslaunch turtlebot3_slam turtlebot3_slam.launch

roslaunch turtlebot3_teleop turtlebot3_teleop_key.launch

rosrun map_server map_saver -f ~/map

roslaunch turtlebot3_navigation turtlebot3_navigation.launch map_file_file:=$HOME/map.yaml

[2021-12-29 01:59] l376571926 commented on #91
翻墙，或者改host

https://github.com/521xueweihan/GitHub520

[2021-12-29 02:06] l376571926 commented on #92
roslaunch turtlebot3_navigation turtlebot3_navigation.launch map_file:=$HOME/map.yaml

[2021-12-29 02:12] l376571926 commented on #93
翻墙或者改host

https://github.com/521xueweihan/GitHub520

[2021-12-29 02:15] l376571926 commented on #95
ViewControlLayer.java
![image](https://user-images.githubusercontent.com/16934505/147621021-450744c5-eb10-4fbb-b1dc-01df67df2a8e.png)

[2021-12-29 02:17] l376571926 commented on #96
https://github.com/mtbii/RobotCA/tree/master/Release

[2022-09-05 09:19] thangzhongkai opened #100 "Could not get resource"
FAILURE: Build failed with an exception.

* Where:
Build file 'D:\asprojects\ROSTest-master\build.gradle' line: 18

* What went wrong:
A problem occurred evaluating root project 'ROSTest-master'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Exception is:
org.gradle.api.GradleScriptException: A problem occurred evaluating root project 'R